[build]
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "https://webdone-wymx.onrender.com/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200